:root {
  font-family: var(--bs-body-font-family);
  color-scheme: light dark;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
